body {
    background-color: rgb(40, 40, 40);
    color: rgb(222, 214, 202);
    margin: 0;
}

a:link {
    color: rgb(77, 77, 245);
}
a:visited {
    color: rgb(191, 96, 255);
}

header {
    background-color: rgb(40, 40, 40);
    padding: 0em;
    padding-bottom: 0.25em;
    padding-top: 0.3em;
    font-size: 2em;
    border-bottom: 2px solid rgb(144, 138, 130);
}
.header-span {
    margin: 0.5em;
}
header #logo {
    height: 0.9em;
}

main {
    background-color: rgb(30, 30, 30);
    margin: 0;
    padding: 1em;
}
.main-div {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

footer {
    background-color: rgb(40, 40, 40);
    padding: 0.5em;
    border-top: 2px solid rgb(144, 138, 130);
    text-align: center;
}
.footer-span {
    margin: 0.5em;
}
